#venv
myvenv

#datasets
dataset_container/train_data
dataset_container/working_input_data
ptm/DB/COVID-19
ptm/DB/Normal

# pycache files
dataset_container/_pycache_/
dataset prep/_pycache_/
tools/_pycache_/